*.[oa]
*.l[oa]
.deps
.libs
Makefile.in

INSTALL
Makefile
aclocal.m4
autom4te.cache
autoregen.sh
config.*
configure
libtool
stamp-h1
stamp-h.in
shave
shave-libtool

build-aux/compile
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
